<div class="row well">
  <div class="span12">
    <h4>
      Icons from Font Awesome 3
    </h4>
    <pre>\{{bs-icon name="thumbs-up" type="danger"}} {{bs-icon name="thumbs-up" type="danger"}}</pre>
    <div class="">
    {{#each name in iconNames}}
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="">
          <div class="col-xs-3 col-sm-2 text-center">{{bs-icon name=name type="success" class="icon-large"}}</div>
          <div class="col-xs-9 col-sm-10">{{name}}</div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>

<div class="row well">
  <h4>
    With keyword-brunch for compile time keyword replacement
  </h4>
  {{view "Bootstrap.AlertMessage" type="info" messageBinding="infoMessage"}}
</div>